<h1><%=bundle.name%></h1>
<p><%=bundle.description%></p>
<ul>
	<% bundle.items.forEach(item => { %>
	<li><a href="<%=item.url%>"><%=item.name%></a></li>
	<% }) %>
</ul>

<a href="<%=bundle.url%>/update">Update bundle</a>
<a href="<%=bundle.url%>/delete">Delete bundle</a>