<h1><%=title%></h1>
<form
	method="POST"
	action=""
>
	<label for="name">
		Name:
		<input
			type="text"
			name="name"
			id="name"
			value="<%=locals.bundle !== undefined ? bundle.name : ''%>"
		/>
	</label>
	<label for="discount">
		Discount:
		<input
			type="number"
			name="discount"
			id="discount"
			value="<%=locals.bundle !== undefined ? bundle.discount : ''%>"
		/>
	</label>
	<fieldset>
		<legend>Items</legend>
		<% item_list.forEach(item => { %>
		<label for="<%=item._id%>">
			<input type="checkbox" name="item" value="<%=item._id%>"
			id="<%=item._id%>" <%=item.checked ? 'checked' : ''%>/>
			<%=item.name%>
		</label>
		<% }) %>
	</fieldset>
	<label for="description">
		<textarea
			name="description"
			id="'description"
			maxlength="100"
			value="<%=locals.description !== undefined ? description.name : ''%>"
		></textarea>
	</label>
	<button>Submit</button>
</form>
<!-- TODO: maybe do individual message presentation to each field/input -->
<% if (locals.errors) { %>
<ul>
	<% errors.forEach(error => { %>
	<li><%=error.msg%></li>
	<% }) %>
</ul>
<% } %>
