<h1><%=category.name%></h1>
<p><%=category.description%></p>
<ul>
	<% item_list.forEach(item => { %>
	<li><a href="<%=item.url%>"><%=item.name%></a></li>
	<% }) %>
</ul>

<div class="controls">
	<a href="<%=category.url%>/update">Update category</a>
	<a href="<%=category.url%>/delete">Delete category</a>
</div>
