<h1><%=title%></h1>
<form
	method="POST"
	action=""
>
	<label for="name">
		Name:
		<input
			type="text"
			name="name"
			id="name"
			value="<%=locals.item !== undefined ? item.name : ''%>"
		/>
	</label>
	<label for="price">
		Price:
		<input
			type="number"
			name="price"
			id="price"
			value="<%=locals.item !== undefined ? item.price : ''%>"
		/>
	</label>
	<fieldset>
		<legend>Stats</legend>
		<label for="attack_damage">
			Attack Damage:
			<input
				type="range"
				name="attack_damage"
				id="attack_damage"
				min="-100"
				max="100"
				steps="1"
				value="<%=(locals.item !== undefined ? item.stats.get('Attack Damage') : '0')%>"
			/>
		</label>
		<label for="magic_power">
			Magic Power:
			<input
				type="range"
				name="magic_power"
				id="magic_power"
				min="-100"
				max="100"
				steps="1"
				value="<%=(locals.item !== undefined ? item.stats.get('Magic Power') : '0')%>"
			/>
		</label>
		<label for="attack_speed">
			Attack Speed:
			<input
				type="range"
				name="attack_speed"
				id="attack_speed"
				min="0"
				max="100"
				steps="1"
				value="<%=(locals.item !== undefined ? item.stats.get('Attack Speed') : '0')%>"
			/>
		</label>
		<label for="crit_chance">
			Critical Strike Chance:
			<input
				type="range"
				name="crit_chance"
				id="crit_chance"
				min="0"
				max="100"
				steps="1"
				value="<%=(locals.item !== undefined ? item.stats.get('Critical Strike Chance') : '0')%>"
			/>
		</label>
	</fieldset>
	<fieldset>
		<legend>Category</legend>
		<% categories.forEach(category => { %>
		<label for="<%=category._id%>">
			<input type="checkbox" name="category" id="<%=category._id%>"
			value="<%=category._id%>" <%= (category.checked ? 'checked' :
			'')%>/> <%=category.name%>
		</label>
		<% }) %>
		<a href="/category/create">Add a category</a>
	</fieldset>
	<label for="image"
		>Upload an Image:
		<input
			type="file"
			accept="image/png, image/jpeg"
			name="image"
			id="image"
			value="image"
		/>
	</label>
	<button>Submit</button>
</form>
<!-- TODO: maybe do individual message presentation to each field/input -->
<% if (locals.errors) { %>
<ul>
	<% errors.forEach(error => { %>
	<li><%=error.msg%></li>
	<% }) %>
</ul>
<% } %>
